@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 264.695 42% 12.9%;
    --card: 0 0% 100%;
    --card-foreground: 264.695 42% 12.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 264.695 42% 12.9%;
    --primary: 265.755 42% 20.8%;
    --primary-foreground: 247.858 3% 98.4%;
    --secondary: 247.896 7% 96.8%;
    --secondary-foreground: 265.755 42% 20.8%;
    --muted: 247.896 7% 96.8%;
    --muted-foreground: 257.417 46% 55.4%;
    --accent: 247.896 7% 96.8%;
    --accent-foreground: 265.755 42% 20.8%;
    --destructive: 27.325 245% 57.7%;
    --border: 255.508 13% 92.9%;
    --input: 255.508 13% 92.9%;
    --ring: 256.788 40% 70.4%;
    --chart-1: 41.116 222% 64.6%;
    --chart-2: 184.704 118% 60%;
    --chart-3: 227.392 70% 39.8%;
    --chart-4: 84.429 189% 82.8%;
    --chart-5: 70.08 188% 76.9%;
    --sidebar: 247.858 3% 98.4%;
    --sidebar-foreground: 264.695 42% 12.9%;
    --sidebar-primary: 265.755 42% 20.8%;
    --sidebar-primary-foreground: 247.858 3% 98.4%;
    --sidebar-accent: 247.896 7% 96.8%;
    --sidebar-accent-foreground: 265.755 42% 20.8%;
    --sidebar-border: 255.508 13% 92.9%;
    --sidebar-ring: 256.788 40% 70.4%;
  }

  .dark {
    --background: 264.695 42% 12.9%;
    --foreground: 247.858 3% 98.4%;
    --card: 265.755 42% 20.8%;
    --card-foreground: 247.858 3% 98.4%;
    --popover: 265.755 42% 20.8%;
    --popover-foreground: 247.858 3% 98.4%;
    --primary: 255.508 13% 92.9%;
    --primary-foreground: 265.755 42% 20.8%;
    --secondary: 260.031 41% 27.9%;
    --secondary-foreground: 247.858 3% 98.4%;
    --muted: 260.031 41% 27.9%;
    --muted-foreground: 256.788 40% 70.4%;
    --accent: 260.031 41% 27.9%;
    --accent-foreground: 247.858 3% 98.4%;
    --destructive: 22.216 191% 70.4%;
    --border: 0 0% 100% / 0.1;
    --input: 0 0% 100% / 0.15;
    --ring: 264.364 27% 55.1%;
    --chart-1: 264.376 243% 48.8%;
    --chart-2: 162.48 170% 69.6%;
    --chart-3: 70.08 188% 76.9%;
    --chart-4: 303.9 265% 62.7%;
    --chart-5: 16.439 246% 64.5%;
    --sidebar: 265.755 42% 20.8%;
    --sidebar-foreground: 247.858 3% 98.4%;
    --sidebar-primary: 264.376 243% 48.8%;
    --sidebar-primary-foreground: 247.858 3% 98.4%;
    --sidebar-accent: 260.031 41% 27.9%;
    --sidebar-accent-foreground: 247.858 3% 98.4%;
    --sidebar-border: 0 0% 100% / 0.1;
    --sidebar-ring: 264.364 27% 55.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}